<div class="bodylogin">
    <div class="login-card tamano560">
      <img src="../../../../assets/CC_Isotipo.png" alt="Icono de la empresa" width="59" height="80">
      <h1>CANOPIA CARBON</h1>
      <form #loginForm="ngForm" (ngSubmit)="iniciarSesion(loginForm)" class="flex flex-column">
        <div class="card flex justify-content-center">
        <div class="field">
          <span class="p-float-label">
            <input class="p-inputtext-sm" id="usuario_email" [(ngModel)]="usuario_email" name="usuarioEmail" placeholder="Correo electrónico" pInputText required autofocus>
            <label htmlFor="usuarioEmail">Email</label>
          </span>
        </div>
        </div>
        <div class="card flex justify-content-center">
        <div class="field">
          <span class="p-float-label">
            <input class="p-inputtext-sm" id="usuario_pw" [(ngModel)]="usuario_pw" name="usuarioPw" placeholder="password" type="password" pInputText required autofocus>
            <label htmlFor="password">password</label>
          </span>
        </div>
      </div>
        <div class="card flex justify-content-center">
        <div class="field">
          <button pButton class="p-button-success" id="loginBtn" type="submit">To access</button>
        </div>
      </div>
      </form>
      <div class="flex-col-c p-t-60">
        <a routerLink="/auth/new-account" class="txt2">
          ¿Create Account?
        </a>
      </div>
    </div>
  </div>
