<div class="field">
    <label for="PASSWORD">PASSWORD</label>
    <input
      id="PASSWORD"
      class="p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      placeholder="PASSWORD"
    />
</div>
<div class="field">
  <label for="PASSWORD">CONFIRM PASSWORD</label>
  <input
    id="PASSWORD"
    class="p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    placeholder="CONFIRM PASSWORD"
  />
</div>