@font-face {
  font-family: 'MediumItalic';
  src: url('../assets/fonts/PlayfairDisplay-MediumItalic.ttf');
  
}
h1{
  font-family: 'MediumItalic';
  src: url('../assets/fonts/PlayfairDisplay-MediumItalic.ttf');
}
p{
  font-family: 'Red_Hat_Display';
  src: url('../assets/fonts/RedHatDisplay-Regular.ttf');
}
i{
  font-family: 'Red_Hat_Display';
  src: url('../assets/fonts/RedHatDisplay-MediumItalic.ttf');
}
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Red_Hat_Display';
  src: url('../assets/fonts/RedHatDisplay-Regular.ttf');
}

.bodylogin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(61, 184, 123, 0.71), rgba(255, 255, 255, 0.71));
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-card {

  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-card img {
  margin-bottom: 20px;
}

.field {
  margin-bottom: 20px;
}

button {
  width: 100%;
}

.flex-col-c {
  text-align: center;
}

.txt2 {
  color: #333; /* Color del enlace */
  text-decoration: none;
}

.txt2:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón sobre el enlace */
}
