<section id="wrapper">
    <div class="fondo-imagen">
        <div class="login-box">
            <div class="login-card tamano560">
                <h3 class="box-title m-b-20 text-center">Registro</h3>
                  
                <form>
                    <div class="field">
                        <label for="usuarioRegistro">Usuario</label>
                        <input
                          id="usuarioRegistro"
                          class="p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                          placeholder="Nombre de usuario"
                        />
                    </div>
                    
                    <div class="field">
                        <label for="contrasenaRegistro">Contraseña</label>
                        <input
                          id="contrasenaRegistro"
                          class="p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                          placeholder="Contraseña"
                          type="password"
                        />
                    </div>
                    
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button pButton class="p-button-danger" type="button">Crear cuenta</button>
                            <div class="flex-col-c p-t-60">
                                <a routerLink="/auth/login" class="txt2">¿Ya tienes cuenta? Inicia sesión</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<p-toast position="top-right"></p-toast>

